<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Vue.JS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body class="bg-gray-300">
    <h1 class="text-3xl font-bold underline text-red-400">
      Learning VueJS
    </h1>
    <p>version: 2.x</p>
  
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div id="app-3">
      <div>
        <span v-if="seen">Now you see me</span>
      </div>
      <button v-on:click="seenotsee">See / Not see</button>
    </div>

    <div id="app-4">
      <div>
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>
      <button v-on:click="insertList">Insert list</button>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })

      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: 'You loaded this page on ' + new Date().toLocaleString()
        }
      })

      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        },
        methods: {
          seenotsee: function () {
            if (self.seen == false) {
              this.seen = self.seen = true
            } else {
              this.seen = self.seen = false
            }
          }
        }
      })

      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
          ]
        },
        methods: {
          insertList: function () {
            this.todos.push({ text: "Testing" })
          }
        }
      })

      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })

      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hello Vue!'
        }
      })
    </script>
  </body>
</html>
