<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Vue.JS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/output.css" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <navbar></navbar>
    </div>

    <!-- VUE LOGICAL -->
    <main>
      <div class="max-w-6xl m-auto mt-5 justify-center">
        <!-- BODY -->
        <div class="w-3/7 bg-white text-center">
          <h2 class="text-3xl">Introduction</h2>
            <div class="space-y-5" id="app-4">
              <h2>TO-DO LIST</h2>
              <div>
                <input class="text-black border-2 border-green-400 rounded-full p-2" v-model="message">
              </div>
              <button class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white" v-on:click="insertList">Insert list</button>
              <a class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white"
                href="./todo.html">Clean list</a>
              <div class="flex justify-center text-left">
                <ol class="list-decimal">
                  <li v-for="todo in todos">
                    {{ todo.text }}
                  </li>
                </ol>
              </div>
            </div>

            <div class="space-y-5 mt-20">
              <h2>EXAMPLES</h2>
              <div id="app">
                {{ message }}
              </div>

              <div id="app-2">
                <span v-bind:title="message">
                  Hover your mouse over me for a few seconds
                  to see my dynamically bound title!
                </span>
              </div>

              <div id="app-3">
                <div>
                  <span v-if="seen">Now you see me</span>
                </div>
                <button class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white" v-on:click="seenotsee">See / Not see</button>
              </div>

              <div id="app-5">
                <p>{{ message }}</p>
                <button class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white" v-on:click="reverseMessage">Reverse Message</button>
              </div>

              <div id="app-6">
                <p>{{ message }}</p>
                <div class="text-black">
                  <input class="text-black border-2 border-green-400 rounded-full p-2" v-model="message">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="application/javascript" src="./js/menu.js"></script>
    <script type="application/javascript" src="./js/introduction.js"></script>
  </body>
</html>
