<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Vue.JS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/output.css" rel="stylesheet">
  </head>
  <body>
    <header class="m-auto justify-center bg-green-800">
      <!-- HEADER -->
      <h1 class="text-6xl p-3 text-center text-white">Learning VueJS</h1>
      <p class="text-center text-white">vue.js version: 2.x</p>
      <nav class="bg-green-500 text-center">
        <div class="max-w-6xl m-auto mt-5 justify-center">
          <div class="flex flex-wrap justify-around mt-5 p-2">
            <a class="bg-white text-green-500 w-32 py-1 text-lg rounded-md hover:bg-green-400 hover:text-white"
               href="./index.html"
            >
              Home
            </a>
            <a class="bg-white text-green-500 w-32 py-1 text-lg rounded-md hover:bg-green-400 hover:text-white"
               href="./introduction.html"
            >
              Introduction
            </a>
            <a class="bg-white text-green-500 w-32 py-1 text-lg rounded-md hover:bg-green-400 hover:text-white"
               href="./todo.html"
            >
              To-do
            </a>
            <a class="bg-white text-green-500 w-32 py-1 text-lg rounded-md hover:bg-green-400 hover:text-white"
               href="./shopping.html"
            >
              Shopping
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="max-w-6xl m-auto mt-5 justify-center">
        <div class="w-3/7 bg-white text-center">
          <h2 class="text-3xl">Shopping</h2>
          <div id="shopping" class="space-y-5">
            <h2>{{ header }}</h2>
            <p>I love Mini Kalzone (project to study)</p>
            <div class="flex justify-center space-x-10">
              <div class="w-24 md:w-48 lg:w-64 boder-2 border-red-300">
                <img v-bind:src="image">
              </div>
              <div class="text-2xl border-2 border-red-300 w-64 space-y-2">
                <p>Menu</p>
                <hr>
                <ul class="text-base list-item">
                  <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <ol class="text-base">
                  <li v-for="item in items" :key="item.productId">{{ item.product }}</li>
                </ol>
              </div>
            </div>
            <div>
            <button @click="cleanToCart" class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white">Clean</button>
            <button @click="lessToCart" class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white"> - Cart</button>
            <button @click="addToCart" class="bg-green-500 py-1 px-4 text-white rounded-md hover:bg-green-700 hover:text-white">+ Cart</button>
            </div>
            <div class="flex justify-center">
              <p class="w-32 text-black border-2 border-green-400 rounded-full p-2">Cart: {{ cart }}</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="application/javascript" defer src="./js/shopping.js"></script>
  </body>
</html>
